@font-face {
  font-family: "BYekan";
  src: url("../fonts/BYekan.woff");
  src: url("../fonts/Yekan.woff2");
  src: url("../fonts/BYekan.ttf");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pallet-1: #dcdcdd;
  --pallet-2: #c5c3c6;
  --pallet-3: #46494c;
  --pallet-4: #4c5c68;
  --pallet-5: #1985a1;
  --pallet-6: #909090;
}

body {
  font-family: "BYekan", sans-serif !important;
}

.custom-input {
  border-radius: 8px;
  width: 100%;
  outline: 0;
  padding: 5px;
  background-color: #d9d9d950;
  margin: 5px;
}

.custom-input:focus {
  outline: #4b5563;
}
