.vertical-timeline-element-icon {
  background-color: var(--pallet-5);
  transition: all ease 0.5s;
  cursor: pointer;
}
.vertical-timeline-element-icon:hover {
  background-color: #1945a1;
  transition: all ease 0.5s;
}
